<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>481849950345-2qgkb4ur38r0f55003c81i53s00kjv1e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.481849950345-2qgkb4ur38r0f55003c81i53s00kjv1e</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>481849950345-uiprnfs7dnka4uji3ms2p1hmngtd5i80.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCmNChJDBxWGYUz_iQe9_XYalXxgxOdipM</string>
	<key>GCM_SENDER_ID</key>
	<string>481849950345</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterIntership</string>
	<key>PROJECT_ID</key>
	<string>emailpasswordauth-bca1e</string>
	<key>STORAGE_BUCKET</key>
	<string>emailpasswordauth-bca1e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:481849950345:ios:67d7a87fdd618e62d70658</string>
</dict>
</plist>